@page "/"


<PageTitle>[ Programador-Camisa-10 ]</PageTitle>

<h1 style="font-family: 'Times New Roman', Times, serif;">[ Programador-Camisa-10 ]</h1>
<center><h1 style="color:blue;">Olá este é um software desenvolvido em Balzor e Dotnet7</h1></center>

<p style="font-style: italic;">Tenha bons estudos!!!</p>

<p>
   Conteudo de qualidade ! acesse: 
   <a href="https://www.desenvolvedorwoto.com.br/" target="_blank">
   https://www.desenvolvedorwoto.com.br/</a>
</p>

